body {
  position: relative;
  width: 1600px;
  height: 2349px;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #757575;
}
.menu {
  width: 1600px;
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border: 1px #ECECEC;
}
.logo {
  width: 145px;
  height: 31px;
  margin-left: 215px;
  top: 24px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  position: absolute;
  font-family: 'Raleway';
}
.Web {
  color: #2196f3;
}
.navigation 
{
  position: absolute;
  width: 254px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.navigation ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation ul li a
{
  float: left;
  color: #212121;
}

.navigation ul li a:focus,
.navigation ul li a:hover,
.navigation ul li a:active
{
  color: #2196f3;  
}
.agency 
{
  width: 53px;
  height: 16px;
  font-weight: 500;
  text-decoration: none;
}
.portfolio
{
    margin-left: 46px;
    text-decoration: none;    
}
.contact
{
    margin-left: 46px;
    width: 51px;
    height: 16px;
    text-decoration: none;
}
/*finish navigation*/
.email
{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    color: #757575;
    text-decoration: none;
}
.email:hover,
.email:focus
{
    color: #2196F3;
}
.telephone
{
    position: absolute;
    width: 110px;
    height: 16px;
    left: 1263px;
    top: 32px;
    color: #757575;
    text-decoration: none;
}
/*finish menu*/
.header
{
    width: 1600px;
    height: 600px;
    background: #2F303A;
    text-align: center;
}
.first_header
{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}
.button
{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 350px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: #2196F3;
    border-radius: 4px;
}
.service
{  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
/*finish header*/
.attributes
{
    
    width: 1170px;
    height: 101px;
    margin-top: 94px;
    margin-left: 215px;   

}
.attributes ul 
{
   display: flex;
   list-style: none;
   letter-spacing: 0.03em;
   font-size: 14px;
   margin: 0;
}
.attributes ul li
{
    width: 270px;
    height: 101px;
    margin-left: 30px;
}

.lorem
{
   text-transform: uppercase;
   color: #212121;
   line-height: 1.71;
   font-weight: 700;
}
.attributes ul li .lorem 
{
    font-weight: 400;
    line-height: 1.46;
}
.attributes ul li p
{
    margin-top: 10px;
    margin-bottom: 0;
}
/*finish atributes*/
.what_we_do
{
    width: 1170px;
    height: 386px;    
    margin-left: 215px;
    margin-top: 94px;   
}
.second_header
{
    width: 352px;
    height: 42px;
    margin-left: 409px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.what_we_do ul
{
    list-style: none;
    padding: 0;
}
.what_we_do ul li
{
    margin-top: 50px;
}
.computer
{
    float: left;
}
.phone
{
    float: left;
    margin-left: 30px;
}
.tablet
{
    margin-left: 30px;
}
/*finish what we do*/
.our_team
{
    height: 648px;
    width: 1600px;
    left: 0px;
    background: #F5F4FA;
}
.third_header
{
    width: 210px;
    height: 42px;
    margin: 94px 695px 50px 695px;
    padding-top: 94px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.our_team ul
{
    position: absolute;
    width: 1170px;
    height: 368px;
    margin: 0px 0px 0px 215px;
    padding: 0;
    list-style: none;
}

.our_team ul li
{
    width: 270px;
    height: 368px;
    top: 1635px;
    float: left;
    text-align: center;
    letter-spacing: 0.03em;
    background: #FFFFFF;
    box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12),
                 0px 1px 1px rgba(0, 0, 0, 0.14),
                 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}
.second_img
{
    margin-left: 30px;
}
.third_img
{
    margin-left: 30px;
}
.fourth_img
{
    margin-left: 30px;
}
.name
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}
.job
{
    width: 130px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 30px;
}
/*finish our team*/
.footer
{
    position: absolute;
    width: 1600px;
    height: 252px;
    background: #2F303A;
    letter-spacing: 0.03em;
}
.logo_second
{
    position: absolute;
    left: 215px;
    top: 60px;
    width: 145px;
    height: 31px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    text-decoration: none;
}
.Studio
{
    color: #FFFFFF;
}
.address, .address:focus
{
   margin-top: 111px;
   width: 246px;
   height: 81px;
   margin-left: 215px;
}
.address ul 
{
    list-style: none;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
}
.address ul li a:focus,
.address ul li a:hover,
.address ul li a:active
{
    color: rgba(255, 255, 255, 0.6);
}
.data a
{
    width: 246px;
    height: 21px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}
.contact_link a
{
    width: 231px;
    height: 21px;
    margin-top: 9px;
    margin-bottom: 9px;
    color: #FFFFFF;
    text-decoration: none;
}
.contact_tel a
{
    position: absolute;
    width: 231px;
    height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
/*finish footer*/

/*portfolio*/
.portfolio_page
{
    width: 1170px;
    height: 1360px;
    margin-left: 215px;
    background: #FFFFFF;
    margin-top: 94px;
    margin-bottom: 94px;
    color: #212121;
}
.filters
{
    margin-left: 295px;
    width: 572px;
    height: 54px;
    left: 510px;
    padding: 0px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.filters li
{
    float: left;
    list-style: none;
    text-align: center;
    margin-left: 6px;
    font-size: 1.62em;
}
.filters li button:active,
.filters li button:focus,
.filters li button:hover
{
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.filters li button
{
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
}
.filters li .all
{
    width: 121px;
    height: 38px;
}
.filters li .all:active
{
    background-color: #2196F3;
    color: white;
}

.filters li .pages
{
    width: 93px;
    height: 38px;
}
.filters li .aplications
{
    width: 114px;
    height: 38px;
}
.filters li .design
{
    width: 91px;
    height: 38px;
}
.filters li .marketing
{
    width: 121px;
    height: 38px;
}
/*finish filters*/
.img_project
{
   padding: 0;
}
.img_project li
{
    list-style: none;
    float: left;
}
.img_project li .box_img
{
   margin: 0;
   margin-right: 20px;
   margin-bottom: 30px;
}
.img_project li .box_img img
{
    width: 370px;
    height: 294px;
}
.list_item
{
    width: 322px;
    height: 70px;
    letter-spacing: 0.06em;
}
.list_item h3
{
    margin-bottom: 4px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 2;
}
.list_item p
{
    color: #757575;
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.88;
}